.hello {
  background: #fff;
  margin: 0 0.5rem;
  .weui-label {
    color: #C26E76 !important;
  }
}
.download-link {
  text-align: center;
  background-color: #EB5254;
  padding: 0.5rem;
  a {
    color: #fff;
    cursor: pointer;
    font-size: 1em;
  }
}
.compute-title {
  margin-top: 2rem;
  text-align: center;
  font-size:1.8rem;
  color: #C26E76 !important;
}
.compute-form {
  margin: 0 1rem;
  font-size: 0.6em;
}
.sex-checker {
  float: left;
  width: 40%;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  img {
    width: 45px;
  }
}
.submit-btn {
  text-align: center;
  padding: 1rem;
  background-color: #FEF0F0;
  color: #C26E76;
  border: 1px solid #C26E76;
  box-shadow: 1px 1px 2px #FFC6CD;
  font-size: 1rem;
}
.compute-btn {
  margin: 2rem 3rem;
}
.recompute-btn {
  margin: 8rem 3rem 2rem;
  text-align: center;
  padding: 1rem;
  background-color: #FEF0F0;
  color: #C26E76;
  border: 1px solid #C26E76;
  box-shadow: 1px 1px 2px #FFC6CD;
  font-size: 1rem;
}

.result {
  padding: 0 0.5rem;
}
.result-title {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  color: #444;
  span {
    font-size: 1.6rem;
    color: #EB5254;
  }
}
.money-number {
  margin-top: 1rem;
  font-size: 3rem;
  color: #C26E76;
  text-align: center;
}
.result-qrcode {
  margin-top: 4rem;
  text-align: center;
}